{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{% block field_row %}
    {{  parent() }}
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-body no-padding table-responsive js-comment-div">
                <div class="sonata-ba-collapsed-fields">
                    <div class="form-group">
                        <form data-url="{{ path('app_api_books_patch', {id: object.id}) }}" class="js-comment-form">
                            <label for="" class="control-label">
                                Comentario
                            </label>
                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                <textarea id="book_comment" class="form-control" rows="8"></textarea>
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary js-btn-publish">
                                    <span class="fa js-loading-span"></span>
                                    <span> Publicar </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.btn-publish').on('click', function() {
                var $form = $('#comment-form').serializeArray();
                $.ajax({
                    url: $('#comment-form').data('action'),
                    data: JSON.stringify($form),
                    success: function(data) {
                        console.log('successs!');
                    },
                    error: function(jqHRC) {
                        console.log('error');
                    }
                })
            });
        });

    </script>
{% endblock %}



